<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:usesCleartextTraffic="true"
        android:theme="@style/HudTheme"
        tools:replace="android:theme">
        
        <!-- Login screen (entry point) -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main application screens (Will inherit HudTheme from application) -->
        <activity android:name=".ui.main_menu.MainMenu" 
                  android:exported="false"/>

        <activity android:name=".ui.machine.main.MachineMenu"
                    android:exported="false"/>

        <activity
            android:name=".ui.machine.list.MachineListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".ui.settings.SettingsMenu"
                  android:exported="false"/>

        <activity
            android:name=".ui.machine.access.MachineAccessActivity"
            android:label="Machine Access"
            android:exported="false" />

        <activity
            android:name=".ui.machine.interior.MachineInteriorActivity"
            android:theme="@style/HudTheme"
            android:exported="false" />


    </application>
</manifest>